<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Account{% endblock %} - Origam.io</title>

    <link href="/static/css/signin.css" media="screen" rel="stylesheet" type="text/css">
    </head>

<body id="" class="medium-text minimal-layout responsive-layout">
      
  <div class="authentication-page container grid with-gutter">
    <div class="column">
        <header class="authentication-logo-container vertical-padding border-bottom">
          <div class="readmill-logo-mobile">Origam.io</div>
        </header>

      <div class="authentication-page-container">
          
          {% block body_block %}{% endblock %}

      </div>

    </div>
  </div>
  <script type="text/javascript" src="//dl1d2m8ri9v3j.cloudfront.net/releases/1.2.5/tracker.js" data-customer="8b6b8bdc212b448eb8415b773c1ae6c7"></script>
</body>
</html>