{% extends 'account/base.html' %}

{% block title %}Lost{% endblock %}

{% block body_block %}
  <h1 class="authentication-header">Forgot your password?</h1>

  <p class="vertical-padding-bottom">
    No problem. Enter your email address below and we'll send you an email
    right away explaining how to reset it.
  </p>

  <div class="form-vertical hide-labels">
    <form accept-charset="UTF-8" action="/web/20140328010008/https://origam.io/signin/forgot" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="/5zeSQEYoi1ue1eCLJlLHxPsFQsslDBelV+YgEyD4Aw="></div>
      <label for="user_email">Email</label>
      <div class="field">
        <input name="user[email]" id="user_email" value="" autofocus="true" type="email" placeholder="Email">
      </div>

      <div class="form-actions vertical-padding-bottom">
        <button type="submit" class="button primary large">Send instructions</button>
      </div>
</form>  </div>

        <div class="authentication-page-footer">
            <span class="authentication-footer-item">
    Remember your password? <a href="/signin">Sign in</a>
  </span>

    </div>
{% endblock %}