{% extends 'account/base.html' %}

{% block title %}Sign in{% endblock %}

{% block body_block %}
  <h1 class="authentication-header">Sign in</h1>
      <a class="button large facebook fill vertical-padding" href="https://origam.io/auth/facebook?intent=continue">
      <i class="icon-facebook"></i>Continue with Facebook
    </a>

    <div class="authentication-form" id="authentication-form">
      <div class="authentication-form-header">
        <h2>Or using email and password</h2>
      </div>

      <div class="basic-signup-form" id="basic-signup">
        <form accept-charset="UTF-8" action="/signin.htm" data-one-submit-form="" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="xvH3Y7niDE0PhqhJVT+h4TgRBzT48oJkGId2xxJBUIw="></div>
          <div class="field">
            <label for="field-authentication-form-4wyc-email">Email</label>
            <input name="user[email]" id="field-authentication-form-4wyc-email" type="email" placeholder="Email" value="" autocorrect="off">
          </div>

          <div class="field">
            <label for="field-authentication-form-4wyc-password">Password</label>
            <input name="user[password]" id="field-authentication-form-4wyc-password" type="password" placeholder="Password">
          </div>

          <div class="form-actions">
            <button type="submit" class="primary button large"><i class="icon-readmill mobile-hide"></i> Sign in</button>
          </div>
    </form>  </div>
    </div>

    <div class="authentication-page-footer">
          <span class="authentication-footer-item">
            <a href="/lost">Forgot your password?</a>
          </span>
          <span class="authentication-footer-item">
            <a href="https://origam.io/auth/twitter?intent=sign_in">Sign in with Twitter</a>
          </span>
    </div>
{% endblock %}